.stage {
    border-bottom: 3px solid #444;
    height: 330px;
    width: 100%;
    position: relative;
}
.box {
    animation-duration: 3s;
    animation-iteration-count: infinite;
    background-color: #F44336;
    height: 200px;
    width: 200px;
    position: absolute;
}
.bounce-1 {
    animation-name: bounce-1;
    animation-timing-function: linear;
}
@keyframes bounce-1 {
    0%   { left: 0; }
    50%  { left: calc(100% - 200px); }
    100% { left: 0; }
}
